---
name: Release Container

on:
  push:
    tags:
      - "*"

permissions: {}

jobs:
  release-container:
    permissions:
      contents: read
      id-token: write
    uses: ministryofjustice/analytical-platform-airflow-github-actions/.github/workflows/shared-release-container.yml@ffe9491aa118f8db36fda4f1a5ee8cf392c02f6b # v3.1.0
